@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bs-body-bg: #ffe7d3 !important;
}
*{
    margin: 0;
    padding: 0;
    color: #f5e0ce;
    font-family: 'Montserrat' ;
    box-sizing: border-box;
}
body{
    background-color: #ffe7d3 !important;
    transition: background-color 0.7s ease-in-out;
}
.body-ativo{
    background-color: #131010;
}
.containerf{
    width: 100%;
    background-color:  #131010;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.tittle_sb{
    font-size: 9vw;
}
#backhome{
    color: #f5e0ce;
    font-family: 'montserrat';
    transform: rotate(90deg);
}
.home{
    top: 130px;
    left: -15px;
    position: absolute;
    transform: rotate(90deg);
}
.home  a{
    text-decoration: none;
}
.home a:hover{
    text-decoration: line-through;
}
.space_top{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    display: flex;
}
.left{
    flex: 1;
    padding: 80px 110px;
}
.right{
    flex: 1;
    padding: 80px 110px;
}
.button_cv{
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    color: black;
    background-color: #f5e0ce;
    transition: padding 0.25s linear;
}

.button_cv:hover{
    width: 40px;
    color: #ff9035;
    padding: 10px 40px;
    transition: padding 0.25s linear;
}
.curriculo{
    padding-bottom: 10vh;
}
.curriculo h3{
    margin-bottom: 2vh;
}
.contato h3{
    margin-bottom: 2vh;
}
.left p{
    line-height: 43px;
    margin-bottom: 140px;
    font-size: 1.2em;
}
.left p::first-letter{
    font-size: 1.6em;
}
.quote{
    padding-bottom: 19%;
    font-size: 3em;
    font-weight: 300;
    line-height: 1.3em;
    display: block;
}
.tittle_quote{
    margin-bottom: 10%;
    font-size: 1.3em;
}
cite{
    font-size: 0.3em;
    display: block;
}

@media (max-width:1192px) {
    main{
        flex-direction: column;
    }
    .tittle_sb{
        font-size: 13vw;
    }
}
@media (max-width:828px) {
    .home{
        top: 15px;
    }
    .tittle_sb{
        font-size: 16vw;
    }
}
@media (max-width:582px) {
    .left{
        padding: 30px 60px;
    }
    .left p{
        font-size: 1.13em;
    }
    .quote{
        font-size: 2em;
    }
    .right{
        padding: 30px 60px;
    }
}
@media (max-width:461px) {
    .left p{
        font-size: 0.9em;
    }
    .left{
        padding: 10px 30px;
    }
    .right{
        padding: 10px 30px;
    }
    #backhome{
        font-size: 0.8em;
    }
    .tittle_sb{
       width: 50%;
       font-size: 23vw;
    }
    .space_top{
        justify-content: center;
        padding-right: 30vw;
    }
}@media (max-width:358px) {
    .quote{
        font-size: 1.5em;
    }
    .tittle_quote{
        font-size: 1em;
    }
}