@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue';
    color: #f5e0ce;
    box-sizing: border-box;
}
body{
    background-color: #ffe7d3;

}
.containerf{
    width: 100%;
    height: 100vh;
    background-color:  #131010;
    padding: 220px 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.ola{
    font-size: 20vw ;
}

.main_top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.home{
    background-color: red;
    height: max-content;
}
#backhome{
    color: #f5e0ce;
    font-family: 'montserrat';
    position: absolute;
    right: -10px;
    transform: rotate(90deg);
}
.home  a{
    text-decoration: none;
}
.home a:hover{
    text-decoration: line-through;
    position: absolute;
    top: 50;
    bottom: 50;
}
.main_bottom{
    width: 600px;
    letter-spacing: 2px;
    line-height: 32px;
    flex-wrap: wrap;
}
.main_bottom li{
    list-style: none;
    margin-right: 20px;
}
.main_bottom ul a{
    text-decoration-color: #f5e0ce;
}
.main_bottom ul{
    display: flex;
    margin-top: 20px;
}
.main_bottom a:hover{
    text-decoration: overline;
    color: aliceblue;
}
.main_bottom li:hover{
    color: aliceblue;
}

@media (max-width: 1212px) {
    .ola{
        font-size: 25vw;
    }
    .home{
        top: 0;
        position: absolute; 
        top: 25px;
        right: 1px;
    }
    .containerf{
        padding-left: 40px;
    }
}
@media (max-width: 706px) {
    .containerf{
        padding-left: 50px;
        padding-right: 0px;
        padding-top: 100px;
        
    }
    .ola{
        font-size: 33vw;
    }
    .containerf{
        justify-content: center;
    }
    .main_bottom h3{
        font-size: 20px;
        flex-wrap: wrap;
        width: 50%;
    }
    .main_bottom ul{
        padding: 0;
    }
    .main_bottom ul a li{
        color: #fff;
        
    }
    #backhome{
        font-size: 14px;
    }
}
@media (max-width: 375px) {
    .containerf{
        padding-left: 10px;
    }
    .main_bottom li{
        margin-right: 10px;
    }
}