@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bs-body-bg: #ffe7d3 !important;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue';
    color: #f5e0ce;
    box-sizing: border-box;
}
body{
    background-color: #ffe7d3;
    transition: background-color 0.7s ease-in-out;
    overflow: hidden;
}
.body-ativo{
    background-color: #131010;
    overflow-x: hidden;
}
.containerf{
    width: 100%;
    background-color:  #131010;
    padding: 220px 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    user-select: none;
}
.ola{
    font-size: 20vw ;
}

.main_top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.home{
    background-color: red;
    height: max-content;
    position: absolute;
    left: -15px;
}
.main_bottom h3{
    user-select:text;
}
#backhome{
    color: #f5e0ce;
    font-family: 'montserrat';
    position: absolute;
    transform: rotate(90deg);
}
.home  a{
    text-decoration: none;
}
.home a:hover{
    text-decoration: line-through;
    
}
.main_bottom{
    width: 600px;
    letter-spacing: 2px;
    line-height: 32px;
    flex-wrap: wrap;
}
/* Altera a cor do contorno ao passar o mouse sobre qualquer SVG */
/* Aplica o preenchimento vermelho ao ícone do WhatsApp */
.main_bottom a:nth-child(2) svg {
    stroke: none; /* Remove contorno padrão */
}

/* Aplica o contorno vermelho ao passar o mouse sobre o ícone do WhatsApp */
.main_bottom a:nth-child(2) svg:hover {
    fill: #fcd34d; /* Remove o preenchimento ao passar o mouse */
}

/* Altera a cor do contorno ao passar o mouse sobre todos os outros SVGs */
.main_bottom a svg:hover {
    fill: none; /* Remove preenchimento ao passar o mouse */
    stroke: #fcd34d; /* Aplica contorno vermelho ao passar o mouse */
}

.main_bottom ul {
    gap: 25px;
}
.main_bottom ul a li{
    font-size: 25px;
    color: #ffffff;
}
.main_bottom li{
    list-style: none;
    margin-right: 20px;
}
.main_bottom ul a{
    text-decoration-color: #f5e0ce;
}
.main_bottom ul{
    display: flex;
    margin-top: 20px;
}
.main_bottom a:hover{
    text-decoration: overline;
    color: aliceblue;
}
.main_bottom li:hover{
    color: aliceblue;
}

@media (max-width: 1212px) {
    .ola{
        font-size: 25vw;
    }
    .home{
        top: 0;
        position: absolute; 
        top: 25px;
        right: 1px;
    }
    .containerf{
        padding-left: 40px;
    }
}
@media (max-width: 706px) {
    .containerf{
        padding-left: 50px;
        padding-right: 0px;
        padding-top: 100px;
        
    }
    .ola{
        font-size: 33vw;
    }
    .containerf{
        justify-content: center;
    }
    .main_bottom h3{
        font-size: 20px;
        flex-wrap: wrap;
        width: 50%;
    }
    .main_bottom ul{
        padding: 0;
    }
    .main_bottom ul a li{
        color: #fff;
        
    }
    #backhome{
        font-size: 14px;
    }
}
@media (max-width: 375px) {
    .containerf{
        padding-left: 5px;
    }
    h3{
        max-width: 260px;
    }
    .main_bottom ul{
        display: flex;
        flex-direction: column;
    }
    .main_bottom li{
        margin-right: 6px;
        width: max-content;
    }
    .main_bottom a{
        width: max-content;
    }
}