@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat' ;
    box-sizing: border-box;
}
body{
    background-color: #ffe7d3;
}
.container{
    width: 100%;
    height: 100vh;
    background-color:  #131010;
    display: flex;
    flex-direction: row;
}
main a{
    text-decoration: none;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 180px;
    font-size: 90px;
    letter-spacing: -3px;
}
.home{
    padding: 10px;
}
.home  a{
    text-decoration: none;
}
.home a:hover{
    text-decoration: line-through;
}
section{
    padding: 490px 50px 0px 50px;
    width: 1000px;
    
}
section a{
    text-decoration: none;
    
}
section ul{
    display: flex;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
section li{
    color: #131010;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: wheat;
}
 

  